layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
        children
    }
    tab name="implement" split_direction="vertical" {
        pane size="70%" command="zsh"
        pane split_direction="horizontal" {
            pane command="zsh"
            pane command="zsh"
        }
    }
}
